:root {
  --gray-800: rgb(31, 41, 55);
  --gray-700: rgb(55, 65, 81);
  --teal-400: rgb(45, 212, 191);
}

::-webkit-scrollbar {
  appearance: none;
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--gray-800);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
  border-radius: 10px;
}

.notes_list_item.selectedNote {
  border: 2px solid var(--teal-400);
}
